<style type="text/css">
  #container {
    width: 100%;
  }

  #left,
  #middle,
  #right {
    display: inline-block;
  }

  #left {
    width: 25%;
  }

  #right {
    width: 45%;
  }

  #middle {
    width: 25%;
  }
</style>

<div id="container">
  <div id="left">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/restaurants">Restaurants</a></li>
    </ul>
  </div>
  <div id="middle"><br /></div>
  <div id="right">
    <ul>
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
</div>
